#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  position: relative;
  z-index: 100;
  width: 60px;
  height: 60px;
}

.logo-container {
  display: inline-block;
  position: relative;
}

.fstline {
  margin-bottom: -20px;
}

.logo-text {
  position: absolute;
  bottom: -20px; /* 텍스트 위치 조정 */
  left: 0;
  right: 0;
  opacity: 0; /* 처음 텍스트를 안 보이게 설정 */
  text-align: center; /* 가운데 정렬 */
  transition: opacity 0.3s, bottom 0.3s; /* 애니메이션 효과 지정 */
}

.logo:hover + .logo-text {
  bottom: 0; /* 마우스를 올렸을 때 텍스트 위치 변경 */
  opacity: 1; /* 마우스를 올리면 텍스트가 보이게 설정 */
}

.logo:hover {
  filter: drop-shadow(0 0 10px rgb(61, 60, 60));
  transition-property: transform, filter;
  transition-duration: 0.5s;
  transform: scale(1.2);
}

.logo {
  transition: transform 0.3s ease-out;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.profile-picture {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: -10px;
}

.profile-title {
  font-weight: bold;
  margin-bottom: -15px;
  font-size: 43px;
  font-family: "Noto Sans KR";
}


.profile-name {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: -20px;
  font-family: "Noto Sans KR";
}

.profile-school {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: +40px;
  font-family: "Noto Sans KR";
}

.divider {
  display: flex;
  width: 100%;
  border: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.divider2 {
  display: flex;
  width: 90%;
  border: 1px solid #ffffff;
  margin-top: 5px;
  margin-bottom: 30px;
}


@media (min-width: 320px) and (max-width: 480px) {
  .fstline {
    margin-bottom: -10px;
  }

  .logo {
    height: 6em;
    padding: 15px;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }

  .profile-picture {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: -10px;
  }

  .profile-title {
    font-weight: bold;
    margin-bottom: -15px;
    font-size: 30px;
    font-family: "Apple SD Gothic Neo";
  }


  .profile-name {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: -20px;
    font-family: "Apple SD Gothic Neo";
  }

  .profile-school {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: +15px;
    font-family: "Apple SD Gothic Neo";
  }

}



